/* start custom scss snippet */

.card__background {
  background-image: url(/assets/images/homepage/courtyard.png);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* end custom scss snippet */
